
html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  color: #005e76;
  border-color: #8bc9d9;
  border-width: 2px;
}

.btn-ghost:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #0084a6;
  border-width: 2px;
}

a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

a:hover {
  color: #000;
}

footer {
  border-top: 2px solid #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .logo-left {
    text-align: left;
  }

  .nav-right {
    text-align: right;
  }

}
